In [1]:
import pandas as pd
import numpy as np
import statsmodels as st

In [7]:
train_df = pd.read_csv("/workspaces/Time_Series_projects/Store_Sales/Data/train.csv",
                       usecols=['date','store_nbr','family','sales','onpromotion'],
                       index_col=['date'],parse_dates=True)
train_df.head()

            store_nbr      family  sales  onpromotion
date
2013-01-01          1  AUTOMOTIVE    0.0            0
2013-01-01          1   BABY CARE    0.0            0
2013-01-01          1      BEAUTY    0.0            0
2013-01-01          1   BEVERAGES    0.0            0
2013-01-01          1       BOOKS    0.0            0

In [10]:
train_df.shape

(3000888, 4)